body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

#main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 7% 1fr 12%;
  background-image: linear-gradient(red, #000);
}

#metadetails {
  padding: 2%;
}

#details {
  display: flex;
}

#details div {
  margin: 0 2%;
}

#detail-text h1, #detail-text p {
  margin: 0;
}

#controlsx {
  display: flex;
  place-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  font-size: larger;
  color: grey;
}

#play {
  background-color: #ffffff;
  border-radius: 50rem;
  font-size: x-large;
  color: #000;
  margin: 2%;
  width: 60px;
  height: 60px;
}

#div-slider {
  padding: 2%;
  display: flex;
  place-items: center;
  justify-content: center;
}

#greyslider {
  display: flex;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 1%;
  background-color: black;
}

#fillbar {
  background-color: #ffffff;
  width: 0;
  height: 100%;
}

#slider-nob {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transform: translate(0, -5px);
}
